:root {
  /* ***** font size ***** */
  font-size: calc(4 * ((100vw - 320px) / 1600) + 16px);
  --txt-xxLarge: 3em;
  --txt-xLarge: 2em;
  --txt-large: 1.5em;
  --txt-regular: 1em;
  --txt-small: 0.9em;
  --txt-xSmall: 0.8em;
  --txt-xxSmall: 0.6em;
  /* ***** width ***** */
  --width-pc: calc(860px + 10vw);
  --width-tb: 80%;
  --width-sp: 92%;
  /* ***** color ***** */
  --base-bg: rgb(228, 228, 228);
  --light-bg: rgba(235, 235, 235, 0.9);
  --dark-txt: rgb(68, 68, 68);
  --light-txt: rgb(245, 245, 245);
}
/* ****************************** */
/* Reset */
/* ****************************** */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.6;
}
button {
  color: #333;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
img {
  width: 100%;
}
/* ****************************** */
/* common */
/* ****************************** */
body {
  font-family: "Noto Sans", sans-serif;
  color: var(--dark-txt);
}
h1 {
  font-family: "Yomogi", cursive;
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  font-family: "Yomogi", cursive;
  font-size: 1.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
.pc-hidden {
  display: none;
}
.sp-hidden {
  display: inline-block;
}
.bold {
  font-weight: 700;
}
.banner {
  margin: 15% 5%;
}
.banner img {
  margin: 10px 0;
  border-radius: 4px;
}
.disabled {
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}
@media screen and (max-width: 960px) {
}
@media screen and (max-width: 750px) {
  h3 {
    font-size: 1.15rem;
  }
  .pc-hidden {
    display: inline-block;
  }
  .sp-hidden {
    display: none;
  }
  a:hover {
    opacity: 1;
  }
}
/* ****************************** */
/* header */
/* ****************************** */
.header-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  z-index: 100;
}
.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 5%;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
}
.site-title {
  width: 180px;
  height: 80px;
  filter: drop-shadow(1px 1px 2px var(--light-bg));
}
.site-title a img {
  display: block;
  height: 80px;
}
#headerLists {
  display: flex;
  z-index: -1;
}
#headerLists li {
  padding: 0 10px;
}
#headerLists li a {
  color: var(--dark-txt);
  font-weight: 700;
  text-shadow: 0.5px 0.5px 0 var(--light-bg), -0.5px 0.5px 0 var(--light-bg),
    0.5px -0.5px 0 var(--light-bg), -0.5px -0.5px 0 var(--light-bg),
    1px 1px 2px var(--light-bg);
}
#headerLists li a:hover {
  opacity: 0.7;
}
#mobileMenu {
  display: none;
}
.works-menu {
  position: relative;
}
.work-cell {
  background-color: var(--base-bg);
  padding: 0 300px 10px 10px;
  border-radius: 0 0 0 10px;
  position: absolute;
  top: 80px;
  left: -10px;
  line-height: 35px;
  transform: translateX(100vw);
  transition: all 0.3s ease-in-out;
}
.work-cell li a {
  font-weight: 500 !important;
}
.works-menu:hover .work-cell {
  transform: translateX(0);
}
@media screen and (max-width: 960px) {
}
@media screen and (max-width: 750px) {
  .header-wrap {
    display: block;
    padding: 0 3%;
  }
  .site-title {
    width: 130px;
  }
  #headerLists {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    text-align: right;
    padding: 5%;
    width: 100vw;
    height: 0;
    background-color: rgba(235, 235, 235, 0);
    transform: translate(100vw);
    transition: all 0.3s;
  }
  #headerLists.open {
    height: 100vh;
    padding-top: 80px;
    transform: translateY(0);
    background-color: var(--light-bg);
  }
  #mobileMenu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    padding: 20px;
    z-index: 200;
  }
  #mobileMenu .bar {
    display: block;
    width: 40px;
    height: 2px;
    margin-top: 8.5px;
    background-color: var(--dark-txt);
    box-shadow: 0.5px 0.5px 0 var(--light-bg), -0.5px 0.5px 0 var(--light-bg),
      0.5px -0.5px 0 var(--light-bg), -0.5px -0.5px 0 var(--light-bg);
    transition: all 0.3s;
  }
  #mobileMenu.open .bar:nth-child(1) {
    transform: translateY(10px) rotate(405deg);
  }
  #mobileMenu.open .bar:nth-child(2) {
    opacity: 0;
  }
  #mobileMenu.open .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-405deg);
  }
  .works-menu {
    line-height: 40px;
    margin-bottom: 120px;
  }
  .work-cell {
    background: transparent;
    padding: 0;
    position: absolute;
    top: 45px;
    right: 0;
    line-height: 35px;
    transform: translateX(0);
  }
}
