/* ****************************** */
/* Main image */
/* ****************************** */
.main-image {
  overflow: hidden;
  position: relative;
}

.main-image::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  background-color: #bbb;
  background-image: linear-gradient(180deg,
      rgba(68, 68, 68, 1) 60%,
      rgba(228, 228, 228, 1));
  z-index: -100;
}

.main-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background-image: linear-gradient(180deg,
      transparent 0 95%,
      var(--base-bg) 100%);
}

.main-image img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 75%;
}

@media screen and (max-width: 750px) {
  .main-image::before {
    left: 50%;
    background-color: #777;
  }

  .main-image img {
    height: 100%;
  }
}

/* ****************************** */
/* Main contents */
/* ****************************** */
#works::before,
#about::before,
#hero::before {
  content: "";
  display: block;
  height: 100px;
  margin-top: -100px;
}

#personal::before {
  content: "";
  display: block;
  height: 200px;
  margin-top: -200px;
}

#experience::before,
#skill::before {
  content: "";
  display: block;
  height: 300px;
  margin-top: -300px;
}

#works {
  margin-top: 10%;
}

h3#hero {
  font-size: var(--txt-large);
}

.hero-contents {
  margin: 0 calc(50% - 49vw);
  padding: 0 5%;
  width: 98vw;
}

.hero-contents li {
  position: relative;
  width: 100%;
  margin-bottom: 15%;
}

.hero-contents li .img-scale-anim {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.hero-contents li:last-child {
  margin-bottom: 0;
}

.hero-contents li img {
  display: block;
  margin: 0 auto;
  max-width: 1100px;
}

.hero-contents dl {
  margin: 10px auto;
  padding: 0 10%;
  max-width: 900px;
}

.hero-contents dt {
  font-weight: bold;
  margin-bottom: 5px;
}

.hero-contents dd {
  padding: 0 0 5px 3px;
  font-size: var(--txt-xSmall);
}

.material ul {
  display: flex;
  justify-content: center;
  width: 98vw;
  margin: 0 calc(50% - 49vw);
  height: 28vw;
  max-height: 250px;
}

.material li {
  margin: 0 2%;
  width: 28vw;
  max-width: 250px;
}

.material p {
  text-align: center;
  margin-top: 1%;
  font-size: var(--txt-xSmall);
}

#about dl {
  margin: 20px 0;
}

#about .about-card {
  display: flex;
  margin: 20% 0;
}

#about .about-card-img {
  width: 30%;
  margin-right: 30px;
}

#about .about-card-text {
  width: 70%;
}

@media screen and (max-width: 960px) {}

@media screen and (max-width: 750px) {
  #about .about-card {
    flex-direction: column;
  }

  #about .about-card-img {
    margin: 0 auto;
    width: 100%;
  }

  #about .about-card-text {
    margin: 0 auto;
    width: 100%;
  }
}