/* ****************************** */
/* Reset */
/* ****************************** */
:root {
  /* ***** width ***** */
  --width-pc: calc(860px + 10vw);
  --width-tb: 80%;
  --width-sp: 92%;
  /* ***** color ***** */
  --base-text: rgba(68, 68, 68, 1);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.6;
}
button {
  color: #333;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
img {
  width: 100%;
}
/* ****************************** */
/* common */
/* ****************************** */
body {
  font-family: "Noto Sans", sans-serif;
  color: var(--base-text);
}
.section-title {
  font-family: "Yomogi", cursive;
}
.pc-hidden {
  display: none;
}
.sp-hidden {
  display: inline-block;
}
.bold {
  font-weight: bold;
}
@media screen and (max-width: 960px) {
}
@media screen and (max-width: 750px) {
  .pc-hidden {
    display: inline-block;
  }
  .sp-hidden {
    display: none;
  }
}
/* ****************************** */
/* header */
/* ****************************** */
.header-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background-color: rgba(235, 235, 235, 0.9);
  z-index: 100;
}
.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 5%;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
}
.site-title {
  width: 180px;
  height: 80px;
}

.site-title a img {
  display: block;
  height: 80px;
}
#headerLists {
  display: flex;
}

#headerLists li {
  padding: 0 10px;
}
#headerLists li a {
  color: var(--base-text);
  font-weight: bold;
}
#headerLists li a:hover {
  opacity: 0.7;
}
#mobileMenu {
  display: none;
}
@media screen and (max-width: 960px) {
}
@media screen and (max-width: 750px) {
  .header-wrap {
    display: block;
    padding: 0 3%;
  }
  .site-title {
    width: 130px;
  }
  #headerLists {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    text-align: right;
    margin-top: 80px;
    padding: 5%;
    width: 100vw;
    height: 0;
    background-color: rgba(235, 235, 235, 0);
    transform: translateY(calc(- 100vh - 80px));
    transition: all 0.3s;
  }
  #headerLists li a {
    display: block;
    color: rgba(68, 68, 68, 0);
    transform: translateY(-100vh);
    transition: all 0.3s;
  }
  #headerLists.open {
    height: calc(100vh - 80px);
    transform: translateY(0);
    background-color: rgba(235, 235, 235, 0.9);
  }
  #headerLists.open li a {
    color: rgba(68, 68, 68, 1);
    transform: translateY(0);
  }
  #mobileMenu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    padding: 20px;
    z-index: 200;
  }
  #mobileMenu .bar {
    display: block;
    width: 40px;
    height: 2px;
    margin-top: 8.5px;
    background-color: var(--base-text);
    transition: all 0.3s;
  }
  #mobileMenu.open .bar:nth-child(1) {
    transform: translateY(10px) rotate(405deg);
  }
  #mobileMenu.open .bar:nth-child(2) {
    opacity: 0;
  }
  #mobileMenu.open .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-405deg);
  }
}
/* ****************************** */
/* Main image */
/* ****************************** */
.main-image {
  height: 100vh;
  height: 100svh;
  background-image: url(../img/main-image-pc.png);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 1px #fff);
}
.main-image .main-image-text {
  font-family: "Yomogi", cursive;
  position: absolute;
  top: calc(50% + 18vw);
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  font-size: 3rem;
  color: var(--base-text);
  text-shadow: 3px 3px 2px #ccc;
  text-shadow: 1px 1px 10px #fff;
  letter-spacing: 0.3rem;
  white-space: nowrap;
}
.main-image .scroll-arrow {
  display: block;
  position: absolute;
  bottom: 40px;
  left: 60px;
  transform: rotate(-90deg);
  transform-origin: left;
  letter-spacing: 0.4rem;
  animation: scrollArrow 1.3s infinite ease 0s;
  animation-iteration-count: 5;
}
.scroll-arrow::before {
  position: absolute;
  bottom: 30px;
  left: -10px;
  content: "";
  width: 120px;
  height: 1.35px;
  background-color: var(--base-text);
  transform-origin: left;
  animation: arrowColor 1.3s infinite ease 0s;
  animation-iteration-count: 5;
}
.scroll-arrow::after {
  position: absolute;
  bottom: 30px;
  left: -10px;
  content: "";
  width: 20px;
  height: 1.35px;
  background-color: var(--base-text);
  transform: rotate(-30deg);
  transform-origin: left;
  animation: arrowColor 1.3s infinite ease 0s;
  animation-iteration-count: 5;
}
@keyframes scrollArrow {
  100% {
    bottom: -5px;
    color: rgba(68, 68, 68, 0);
  }
}
@keyframes arrowColor {
  100% {
    background-color: rgba(68, 68, 68, 0);
  }
}
@media screen and (max-width: 750px) {
  .main-image {
    background-position: 45% 50%;
    background-size: 230%;
  }
  .main-image .main-image-text {
    top: 40%;
    left: 65%;
    font-size: calc(6 * ((100vw - 320px) / 100) + 35px);
  }
}
/* ****************************** */
/* Main contents */
/* ****************************** */
.wrapper {
  width: var(--width-pc);
  padding: 10% 5% 0;
  margin: 0 auto 15px;
}
.contents-wrap {
  margin-top: 10%;
}
.contents-wrap p {
  font-size: 0.8rem;
  text-align: right;
  color: var(--base-text);
}
.contents-image {
  position: relative;
}
.contents-image span {
  position: absolute;
  bottom: 5px;
  right: 0;
  font-size: 0.6rem;
  letter-spacing: -0.02rem;
  background-color: var(--base-text);
  padding: 4px 6px;
  color: #fff;
}
.contents-image span:hover {
  background-color: #0000ee;
}
/* ******************** */
/* タブレット */
/* ******************** */
@media screen and (max-width: 960px) {
  .wrapper {
    width: var(--width-tb);
  }
}
/* ******************** */
/* スマホ */
/* ******************** */
@media screen and (max-width: 750px) {
  .wrapper {
    width: var(--width-sp);
    padding: 5% 5% 0;
  }
}
