/* ****************************** */
/* works common */
/* ****************************** */
#slider::before,
#modal::before,
#cookie::before,
#digitalMakeover::before,
#combinePhoto::before {
  display: block;
  height: 2.5rem;
  margin-top: -2.5rem;
  content: "";
}
.summary {
  margin-top: 10%;
  padding-top: 100px;
}
.index-wrap {
  margin-top: 25%;
  position: relative;
}
.index-wrap ol {
  padding: 5%;
}
.index-wrap li {
  margin: 0 20px 15px 0;
  border-left: 8px solid #999;
  border-bottom: 1px solid #999;
}
.index-wrap li a {
  color: var(--dark-txt);
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 0 5px 20px;
}
.index-wrap .deco-char {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Yomogi", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  color: #999;
  text-shadow: 3px 3px 5px #fff;
  transform: rotate(-10deg);
}
.page-section-title {
  font-size: var(--txt-xLarge);
  font-family: "Yomogi", cursive;
  text-align: center;
  margin: 60px 0 15px;
}
.work-wrap {
  padding-bottom: 15%;
}
@media screen and (max-width: 960px) {
}
@media screen and (max-width: 750px) {
  .page-section-title {
    margin: 40px 0 10px;
  }
}
/* ****************************** */
/* javascript work */
/* ****************************** */
.js-work-item {
  margin-bottom: 5%;
}
.description ul {
  margin-top: 12px;
}
.description li {
  margin-bottom: 12px;
  list-style-type: square;
  margin-left: 20px;
  font-size: var(--txt-xSmall);
  line-height: 1.35;
}
.git-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--dark-txt);
  color: #fff;
  text-align: center;
  border-radius: 8px;
}
@media screen and (max-width: 960px) {
}
@media screen and (max-width: 750px) {
  .work-wrap {
    padding-bottom: 20%;
  }
}
/* ****************************** */
/* adobe work */
/* ****************************** */
main {
  overflow: hidden;
}
.top-video-box {
  height: 100vh;
  height: 100svh;
}
.top-video-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background-image: linear-gradient(
    180deg,
    transparent 0 93%,
    var(--base-bg) 100%
  );
}
.top-video-box video {
  width: 100%;
  height: 100vh;
  height: 100svh;
  object-fit: cover;
}
.adobe-img-flex {
  display: flex;
  justify-content: center;
}
.adobe-img-flex img {
  width: 49%;
}
.adobe-work-item {
  background: #fff;
  padding: 2%;
  border-radius: 10px;
  text-align: center;
}
.adobe-work-item dl dt {
  font-weight: 700;
}
.comparison-all,
.comparison-eye {
  margin-bottom: 100px;
}
.comparison-mouth {
  margin-bottom: 30px;
}
.gif-image {
  margin: 3% auto;
  width: 95%;
}
.gif-image img {
  border-radius: 5px;
}
.photo-row {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.photo-row li {
  min-width: 25vw;
  transform: translateX(-12.5vw);
  background-color: #fff;
  border-top: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
  border-left: 2px solid #efefef;
}
.photo-row li img {
  width: 25vw;
  width: 100%;
}
.adobe-work-text {
  padding-left: 10px;
  margin-top: 30vw;
  margin-bottom: 20px;
}
@media screen and (max-width: 960px) {
  .comparison-all,
  .comparison-eye {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 750px) {
  .comparison-all,
  .comparison-eye {
    margin-bottom: 50px;
  }
}

#other ul {
  padding: 60px 20px 30px;
  display: flex;
  flex-wrap: wrap;
}
#other ul li {
  width: 47.5%;
  margin-bottom: 30px;
}
#other ul li:nth-child(2n) {
  margin-left: 5%;
}
