/* ********** Main contents ********** */
/* .container {
  margin-top: 1%;
} */
.counter-bg {
  width: 90vw;
  height: 35vh;
  box-shadow: 2px 1px 5px #b4b4b4;
  display: table-cell;
  vertical-align: middle;
}
#visitedCount {
  padding: 20px;
  text-align: center;
  font-weight: bold;
}
#visitedCount .strong {
  font-size: var(--txt-xLarge);
}
/* ********** button ********** */
.button-area {
  margin-top: 30px;
  text-align: center;
}
.btn {
  margin: 20px;
  width: 35%;
  padding: 12px;
  font-size: var(--txt-xSmall);
  border-radius: 5px;
  color: #fff;
}
.btn:hover {
  opacity: 0.7;
}
.btn.blue {
  background-color: #0171bb;
  box-shadow: 2px 2px 2px #003457;
}
.btn.red {
  background-color: #bb0101;
  box-shadow: 2px 2px 2px #5d0101;
}
/* ******************** */
/* タブレット */
/* ******************** */
@media screen and (max-width: 960px) {
  .btn {
    width: var(--width-tb);
    margin: 20px 0;
  }
}
/* ******************** */
/* スマホ */
/* ******************** */
@media screen and (max-width: 750px) {
  .container {
    margin-top: 5%;
  }
  #visitedCount .strong {
    font-size: var(--txt-large);
  }
  .btn {
    width: var(--width-sp);
    margin: 10px 0;
  }
}
