#inlineFrameWrap {
  width: 100%;
}
#iframe {
  margin-bottom: 0;
  padding-bottom: 0;
  margin: 0 auto;
  height: 480px;
  background: rgb(245, 245, 245);
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgb(200, 200, 200);
}
.iframe-footer a {
  display: block;
  margin-top: 15px;
  font-size: var(--txt-xSmall);
  background: var(--dark-txt);
  border-radius: 8px;
  padding: 10px 20px;
  text-align: center;
  color: var(--light-txt);
}
